---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<youtube_api_key>&part=snippet&q=uruguay%20history&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "Elr4NWfEQelxCPHXZjFHWHfQh1o",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "3aA4Ia-IlgzTOcgVBYdIXMs-edE",
              "id": {
                "kind": "youtube#video",
                "videoId": "9AQPap0qTG0"
              },
              "snippet": {
                "publishedAt": "2021-03-18T15:17:14Z",
                "channelId": "UCo1g4EQqLwMO9RqEv1rCUpQ",
                "title": "Brief Political History of Uruguay",
                "description": "This video explores the basics of Uruguayan history and politics to explain how it is that Uruguay overcame a history of civil war ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/9AQPap0qTG0/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/9AQPap0qTG0/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/9AQPap0qTG0/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Crónica Panamericana",
                "liveBroadcastContent": "none",
                "publishTime": "2021-03-18T15:17:14Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "1s_I2jnTis9rW9HG1E6cGq0TxOk",
              "id": {
                "kind": "youtube#video",
                "videoId": "AzsCn_wKfbI"
              },
              "snippet": {
                "publishedAt": "2020-04-25T18:00:04Z",
                "channelId": "UCtGG8ucQgEJPeUPhJZ4M4jA",
                "title": "How Does Uruguay Exist?",
                "des[...]
