---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v2/name/Latvia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":"Latvia","topLevelDomain":[".lv"],"alpha2Code":"LV","alpha3Code":"LVA","callingCodes":["371"],"capital":"Riga","altSpellings":["LV","Republic
        of Latvia","Latvijas Republika"],"subregion":"Northern Europe","region":"Europe","population":1901548,"latlng":[57.0,25.0],"demonym":"Latvian","area":64559.0,"gini":35.1,"timezones":["UTC+02:00"],"borders":["BLR","EST","LTU","RUS"],"nativeName":"Latvija","numericCode":"428","flags":{"svg":"https://flagcdn.com/lv.svg","png":"https://flagcdn.com/w320/lv.png"},"currencies":[{"code":"EUR","name":"Euro","symbol":"€"}],"languages":[{"iso639_1":"lv","iso639_2":"lav","name":"Latvian","nativeName":"latviešu
        valoda"}],"translations":{"br":"Latvia","pt":"Letónia","nl":"Letland","hr":"Latvija","fa":"لتونی","de":"Lettland","es":"Letonia","fr":"Lettonie","ja":"ラトビア","it":"Lettonia","hu":"Lettország"},"flag":"https://flagcdn.com/lv.svg","regionalBlocs":[{"acronym":"EU","name":"European
        Union"}],"cioc":"LAT","independent":true}]'
  recorded_at: Mon, 14 Nov 2022 18:18:17 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<place_api_key>&categories=tourism.sights&filter=circle:25.0,57.0,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"street":"Loka
        ceļš","city":"Allažu pagasts","county":"Siguldas novads","state":"Vidzeme","country":"Latvia","country_code":"lv","lon":24.740515142398415,"lat":57.0036019931534,"formatted":"Loka
        ceļš, Allažu pagasts, Latvia","address_line1":"Loka ceļš","address_line2":"Allažu
        pagasts, Latvia","mappedTo":{"lon":24.740515142398415,"lat":57.0036019931534},"name":"Inčukalna
        Allažu meža dzelzceļš","categories":["tourism","tourism.sights"],"details":["details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Inčukalna
        Allažu meža dzelzceļš","gauge":600,"route":"historic","osm_id":-13103508,"historic":"railway","osm_type":"r","wikidata":"Q108037515","wikipedia":"lv:Dzelzceļa
        līnija Inčukalns—Allaži"}},"place_id":"51ffbc95cbaebd3840596b9d1d49f1804c40f00101f90194f1c70000000000920324496ec48d756b616c6e6120416c6c61c5be75206d65c5be6120647a656c7a6365c4bcc5a1"},"geometry":{"type":"Point","coordinates":[24.74094841390342,57.00736345239678]}},{"type":"Feature","properties":{"name":"Suntažu
        muižas pils","street":"Inciems — Sigulda — Ķegums","suburb":"Dārziņi","village":"Suntaži","city":"Suntažu
        pagasts","county":"Ogres novads","state":"Zemgale","postcode":"LV-5060","country":"Latvia","country_code":"lv","lon":24.925342852238714,"lat":56.9072853,"formatted":"Suntaži
        Manor, Inciems — Sigulda — Ķegums, Suntažu pagasts, LV-5060, Latvia","address_line1":"Suntaži
        Manor","address_line2":"Inciems — Sigulda — Ķegums, Suntažu pagasts, LV-5060,
        Latvia","categories":["building","building.historic","tourism","tourism.sights"],"details":["details","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Suntažu
        muižas pils","osm_id":203903707,"name:en":"Suntaži Manor","building":"yes","historic":"manor","osm_type":"w","wikidata":"Q7641681","wikipedia":"en:Suntaži
        Manor"}},"place_id":"51091bbd45e3ec38405930ab1bed21744c40f00102f901db52270c0000000092031553756e7461c5be75206d7569c5be61732070696c73"},"geometry":{"type":"Point","coordinates":[24.925342901867257,56.90728534556399]}},{"type":"Feature","properties":{"name":"Kastrānes
        pilskalns","street":"Rīga — Ērgļi","suburb":"Brūleni","village":"Vatrāne","city":"Suntažu
        pagasts","county":"Ogres novads","state":"Zemgale","postcode":"LV-5060","country":"Latvia","country_code":"lv","lon":24.9609144,"lat":56.9201283,"formatted":"Kastrānes
        pilskalns, Rīga — Ērgļi, Suntažu pagasts, LV-5060, Latvia","address_line1":"Kastrānes
        pilskalns","address_line2":"Rīga — Ērgļi, Suntažu pagasts, LV-5060, Latvia","categories":["tourism","tourism.sights","tourism.sights.archaeological_site"],"details":["details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Kastrānes
        pilskalns","osm_id":6431534540,"historic":"archaeological_site","osm_type":"n","wikidata":"Q23900670","site_type":"fortification","fortification_type":"hill_fort"}},"place_id":"516541727cfef5384059aac79ec3c6754c40f00103f901cc6d597f010000009203144b61737472c4816e65732070696c736b616c6e73"},"geometry":{"type":"Point","coordinates":[24.960914399999997,56.92012830021788]}},{"type":"Feature","properties":{"name":"Zaubes
        pils drupas","street":"Mālpils — Zaube — Kliģene","suburb":"Kooperatīvs","village":"Zaube","city":"Zaubes
        pagasts","county":"Cēsu novads","state":"Vidzeme","country":"Latvia","country_code":"lv","lon":25.2614711,"lat":[...]
