---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<edmam_app_id>&app_key=<edmam_api_key>&count=10&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"q":"","from":0,"to":10,"more":false,"count":0,"hits":[]}'
  recorded_at: Tue, 15 Nov 2022 22:37:55 GMT
recorded_with: VCR 6.1.0
