---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<youtube_api_key>&part=snippet&q=thailand%20history&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "AdMSK99GQieN-Z1ID8rlICGTyuY",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "3_F-JmVttIfRnS7Kellqx60vWig",
              "id": {
                "kind": "youtube#video",
                "videoId": "zo1e7XUWkME"
              },
              "snippet": {
                "publishedAt": "2020-12-14T13:58:07Z",
                "channelId": "UCuCuEKq1xuRA0dFQj1qg9-Q",
                "title": "THE HISTORY OF THAILAND in 10 minutes",
                "description": "THE HISTORY OF THAILAND in 10 minutes ♢Consider to Support the Channel of Patreon and gain cool stuff: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/zo1e7XUWkME/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/zo1e7XUWkME/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/zo1e7XUWkME/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Knowledgia",
                "liveBroadcastContent": "none",
                "publishTime": "2020-12-14T13:58:07Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "CB893Wxu6bTV9DB3OyPc7Ld23D4",
              "id": {
                "kind": "youtube#video",
                "videoId": "OfOMEP_7AJM"
              },
              "snippet": {
                "publishedAt": "2018-07-25T00:28:30Z",
                "channelId": "UCp9ZtilfKJds0iWytR_pnOQ",
                "title": "The History of Thailand Explained in 5 minutes[...]
