---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<youtube_api_key>&part=snippet&q=fjkdljkfldskjdsf%20history&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "UBAOiXjvY0CZ7Ub9tJDO9bUtsU8",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Fri, 11 Nov 2022 23:41:05 GMT
recorded_with: VCR 6.1.0
