---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<edmam_app_id>&app_key=<edmam_api_key>&count=10&q=Latvia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"q":"Latvia","from":0,"to":10,"more":false,"count":4,"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_975fbbadcf0a2a784c9ff9cf386406b8","label":"Latvia''s
        Apple Pancakes recipes","image":"https://edamam-product-images.s3.amazonaws.com/web-img/17b/17be1123ee8426612ac9c1d758cb0169?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIH9SwFWMygPnuH27XI4szRkRsSJp5Ytso0a7jwA8mUpbAiATCICcZ1BH9bMP4DXwXM3vh2WLrI2AK94JkES%2BVO5tqirVBAjc%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDE4NzAxNzE1MDk4NiIMUNF6UMCB4vCdkEhLKqkEk9TFxCr%2BUTR2wQuylrc4GDCQc9J5TzI5Fqe3lOPFVrI6dJMHD%2F2CqVzCBbAGydgFxJkAIqahS2lb8D1wYAabJwMVEb8aF%2F0YS76Qwvk5X8JLuGqqs%2FxFMhCAw6ED0ExnyNXY[...]
