---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<edmam_app_id>&app_key=<edmam_api_key>&count=10&q=Afghanistan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"q":"Afghanistan","from":0,"to":10,"more":true,"count":11,"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_f949218859a6d88f8b6a033ec742f7fe","label":"South
        ''Indie'' Cilantro Chutney","image":"https://edamam-product-images.s3.amazonaws.com/web-img/eb9/eb98587e6ba3d6b982c4764bda615cc3.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJr%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIC52yJXO9ofGxfFHyE3WLliT5M7ype%2BW%2Bn946hmvGIjzAiEAwaZwd9idd4h5V%2FQ6Vu1Nujl4HlZlWGQrRO2MJ0OOKP0q1QQIk%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwxODcwMTcxNTA5ODYiDJqVnO2Kp00fPCG4bSqpBCpnl8Y30Oa9bk5iUqCXt12qgGwAHQMY47LkbFylyT7nZtm8NrlZOjfJjEn5WL6uNGcNebl3en9VM6VLQJkvowPZOxdv9ygCcWrCLrqbJJ5p6nDH%2BbXHg18VVoUM2Ds%[...]
