---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<edmam_app_id>&app_key=<edmam_api_key>&count=10&q=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"q":"thailand","from":0,"to":10,"more":true,"count":135,"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_3a551652abf5a1cef1421660d1b657d9","label":"Andy
        Ricker''s Naam Cheuam Naam Taan Piip (Palm Sugar Simple Syrup)","image":"https://edamam-product-images.s3.amazonaws.com/web-img/611/61165abc1c1c6a185fe5e67167d3e1f0.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJj%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQCrXg4jDT636zCzHLtaYTaJT5ZXmO%2BZmmzWCpzuKFbjkAIgZ52k%2FXlQP%2Bj2ObohfNgNZFH6lYtS1W8iwnMsO9zDPSgq1QQIkf%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwxODcwMTcxNTA5ODYiDFtbjaOCX6HwzQaDUSqpBIRF96NqS31IjlHVbrlAL4vc%2FUCdqSsdOBBqjnlQ230xJ0nPOcSArGZ5z3nXs5ZwfwPqn7JpkaPSV9ucN8GzoOVHdER62%2Bq6XGTh%2FT0H0kQHQvd1YHAVtQ%2BnPiYy[...]
[...]
