---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<edmam_app_id>&app_key=<edmam_api_key>&count=10&q=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"q":"thailand","from":0,"to":10,"more":true,"count":135,"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_3a551652abf5a1cef1421660d1b657d9","label":"Andy
        Ricker''s Naam Cheuam Naam Taan Piip (Palm Sugar Simple Syrup)","image":"https://edamam-product-images.s3.amazonaws.com/web-img/611/61165abc1c1c6a185fe5e67167d3e1f0.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEP7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIEOgCs3Tf2AvITZ4sOV6j2x37TFDeu038wwj7rR348yRAiAdc786zo62h2Oli9uH%2Fx%2B1W6ro47JaCL2QzFCgCYnFtirVBAj3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDE4NzAxNzE1MDk4NiIM7V7JRAmMgk2VEh6XKqkE82aaNk9S1QNS%2BuHMXeEbH1u%2F6i5NEssq%2FZh05J2p0ciFMif06elJ9GD0bE5hJbh%2FbvfHPq3o5odmPH4VcixJ%2BExlDS28umXhNFhN3R78Gz9yWXu1PkBZfZ2r8x5%[...]
