---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_client_id>&query=uruguay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_client_id>&page=71&query=uruguay>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_client_id>&page=2&query=uruguay>;
        rel="next"
      X-Total:
      - '704'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"e18644bc1f5c773eb80c4f585f2983c7"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: '{"total":704,"total_pages":71,"results":[{"id":"ehFgttlFJNA","created_at":"2021-03-28T19:27:26Z","updated_at":"2022-11-13T07:19:58Z","promoted_at":null,"width":5944,"height":3963,"color":"#264040","blur_hash":"LrEDn|xvozWByZxaa~ayE2jYWCfR","description":"City
        of Punta del Este Uruguay. Beach","alt_description":"high rise buildings near
        sea under blue sky and white clouds during daytime","urls":{"raw":"https://images.unsplash.com/photo-1616959313137-186688889054?ixid=MnwzNzk5ODB8MHwxfHNlYXJjaHwxfHx1cnVndWF5fGVufDB8fHx8MTY2ODM3NzU1Mw\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1616959313137-186688889054?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzNzk5ODB8MHwxfHNlYXJjaHwxfHx1cnVndWF5fGVufDB8fHx8MTY2ODM3NzU1Mw\u0026ixlib=rb-4.0.3\u0026q=80","regular":"https://images.unsplash.com/photo-1616959313137-186688889054?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzNzk5ODB8MHwxfHNlYXJjaHwxfHx1cnVndWF5fGVufDB8fHx8MTY2ODM3NzU1Mw\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1616959313137-186688889054?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzNzk5ODB8MHwxfHNlYXJjaHwxfHx1cnVndWF5fGVufDB8fHx8MTY2ODM3NzU1Mw\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1616959313137-186688889054?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzNzk5ODB8MHwxfHNlYXJjaHwxfHx1cnVndWF5fGVufDB8fHx8MTY2ODM3NzU1Mw\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1616959313137-186688889054"},"links":{"self":"https://api.unsplash.com/photos/ehFgttlFJNA","html":"https://unsplash.com/photos/ehFgttlFJNA","download":"https://unsplash.com/photos/ehFgttlFJNA/download?ixid=MnwzNzk5ODB8MHwxfHNlYXJjaHwxfHx1cnVndWF5fGVufDB8fHx8MTY2ODM3NzU1Mw","download_location":"https://api.unsplash.com/photos/ehFgttlFJNA/download?ixid=MnwzNzk5ODB8MHwxfHNlYXJjaHwxfHx1cnVndWF5fGVufDB8fHx8MTY2ODM3NzU1Mw"},"likes":9,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"2ciukJBR1y0","updated_at":"2022-10-14T16:37:36Z","username":"pedroslinger","name":"Pedro
        Slinger","first_name":"Pedro","last_name":"Slinger","twitter_username":"PedroSlinger","portfolio_url":"https://youtube.com/channel/UC6miTCcdY-MHaofx10ZBspw","bio":"Filmmaker
        \u0026 Photographer\r\nPor fotos de mayor calidad y otras que no se encuentran
        acá - Contactar por Instagram @pedrosk.ph Montevideo, Uruguay","location":"Uruguay","links":{"self":"https://api.unsplash.com/users/pedroslinger","html":"https://unsplash.com/@pedroslinger","photos":"https://api.unsplash.com/users/pedroslinger/photos","likes":"https://api.unsplash.com/users/pedroslinger/likes","portfolio":"https://api.unsplash.com/users/pedroslinger/portfolio","following":"https://api.unsplash.com/users/pedroslinger/following","followers":"https://api.unsplash.com/users/pedroslinger/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1607900127614-af5d58370765image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1607900127614-af5d58370765image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1607900127614-af5d58370765image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"pedrosk.ph","total_collections":0,"total_likes":2,"total_photos":62,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"pedrosk.ph","portfolio_url":"https://youtube.com/channel/UC6miTCcdY-MHaofx10ZBspw","twitter_username":"PedroSlinger","paypal_email":null}},"tags":[{"type":"search","title":"uruguay"}]},{"id":"B9YoUi7RYiE","created_at":"2020-03-03T21:22:44Z","updated_at":"2022-11-13T18:12:03Z","promoted_at":null,"width":3456,"height":4608,"color":"#8cc0f3","blur_hash":"LyEN6nxvogkDThogaykDxukDadof","description":null,"alt_description":"white
        concrete building near palm trees during daytime","urls":{"raw":"https://images.unsplash.com/photo-1583270425012-1de82718620e?ixid=MnwzNzk5ODB8MHwxfHNlYXJjaHwyfHx1cnVndWF5fGVufDB8fHx8MTY2ODM3NzU1Mw\u0026ixlib=rb-4.0.3","full":"https://i[...]
